
        <br>
        <p> Bonjour,
        <br>
        <br>

  Je m'appelle <%= @search.username.split(' ').first %>, et je recherche un appartement d'au moins <%= @search.surface %> m2 carrez, dans les arrondissements suivants : <%= @search.location %>. Mon budget max avec les frais de notaires est de <%= @search.price %> €.  <br>
  <br>
  <% if !@search.text_for_agency.nil? %>
  <%= @search.text_for_agency %>
  <br>
  <br>
  <% end %>
  Je vous prie de bien vouloir m'envoyer par mail, les biens qui correspondent. Et de bien vouloir enregistrer cette recherche dans votre fichier.  <br>
  <br>
  Je vous indiquerai par mail lorsque ma recherche sera términée.

  <br>
  Je vous souhaite une très belle journée.
  <br>
  <br>
  <%= @search.username.split(' ').first %>.
  <br>
  06 49 84 06 79
  </p>
