<div class="container home" >
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h1 class="text-center title">Les recherches en cours</h1>
      <% color = %w(gray blue green yellow red orange)%>
      <div class="row">
        <!-- <div class="searches"> -->
          <% @searches.each do |search| %>
            <div class="col-sm-4">
            <%= link_to user_search_path(current_user, search.id) do %>

                <div class="search-card" id=<%=color.sample%>>
                 <h1><%= search.username %></h1>
                 <h3><%= search.price %></h3>
                 <p><%= search.location %></p>
                 <div class="badge"> <%= search.announces.length %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
