



<div class="mail" style="text-align: center; font-family: helvetica; background-color: #F5F5F5; padding-top: 50px;
">
<% if @announce.scd_visit? %>
<h1>A voir de toute urgence !</h1>
<% else %>
<h1>Mais ca n'a rien donné</h1>
<% end %>
<div class="col-xs-12 col-sm-6">
  <h1 class="price">
    <%= @announce.price %> €
  </h1>
  <h3> <%= @announce.status %></h3>

  <p>
    <%= @announce.surface %> m2, <%= @announce.address %>, Etage: <%= @announce.floor %>, <%= @announce.room %> pièces
  </p>
  <p class="comment">
    <%= @announce.comment %>
  </p>

  <p>
    <% if !@announce.price.nil? %>
    <strong>Frais de notaire:</strong> <%= @announce.price * 0.08 %> |
    <% end %>
    <% if !@announce.price.nil? && (!@announce.surface.nil? && @announce.surface != 0) %>
    <%= @announce.price / @announce.surface %> €/m2 |
    <% end %>
     <%= @announce.lift ? "Il y a un ascenseur" : "Il n'y a pas d'ascenseur" %>
  </p>

  <p>
    <strong>Agence:</strong>
    <%= @announce.agency %>
  </p>


  <p>
    <%#= if @announce.to_renovate ? "Travaux à prévoir" : "" %>
  </p>


  <p>
    <%# if @announce.option.any? ? @announce.option : "" %>
  </p>

<div class="images"> <!-- Carousel -->
  <% if !@announce.photos.nil?%>
    <% @announce.photos.split(",").each do |photo| %>
      <img src=<%= photo %> alt="..." class="photo-mail">
    <% end %>
  <% end %>
</div>


</div>

