<div class="container home" >
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-12 col-sm-4">
      <%= link_to 'Ajouter un nouvel appartement', new_user_search_announce_path(current_user, @search), class: 'btn btn-primary navigate' %>
    </div>
    <div class="col-xs-12 col-sm-4">
    <a href="#" class: 'btn btn-primary navigate' onclick="<% @partner_links.each do |pl|%> window.open('<%=pl%>'); <% end %> return true;">Lancer la recherche sur nos sites partenaires</a>
    </div>


      <%= link_to 'Envoyer un mail a toutes les agences', user_search_define_mail_agency_url(current_user, @search) %> |
      <%= link_to 'Modifiez', edit_user_search_path %> |
      <%= link_to 'Retour', user_path(current_user) %>

      <h1 class="text-center">La recherche de <%= @search.username%></h1>

      <h3 class="text-justify"><%= @search.username%> cherche un bien à maximum <%= @search.price %> €, dans les arrondissements suivants :
        <%= @search.location.split(",").join(', ') %>
      </h3>

      <p>
        étages désirés : <%= @search.floor.split(",").join(', ') %>
      </p>

      <p>
        <% if @search.lift %>
        <strong>La présence d'un ascenseur indispensable</strong>
        <% end %>
      </p>
      <p>
        <% if @search.to_renovate %>
        <strong>Les travaux ne dérangent pas <%= @search.username%> </strong>
        <% end %>
      </p>

      <p>
        <strong>Surface:</strong>
        <%= @search.surface %>
      </p>

      <p>
        <strong>Nombre de pièce:</strong>
        <%= @search.room %>
      </p>

      <p>
        <strong>Nombre de chambre:</strong>
        <%= @search.bedroom %>
      </p>

         <p>
        <strong>Options demandées:</strong>
        <%= @search.option %>
      </p>


      <p>
        <strong>Commentaires:</strong>
        <%= @search.comment %>
      </p>


      <% @announces.each do |a| %>
        <%= link_to user_search_announce_path(current_user, @search, a), class: "announce-card" do %>

        <div class="background-appt" style="background-image: linear-gradient(135deg, rgba(205,237,47,0.5) 0%,rgba(83,109,20,0.8) 50%), url(<%= a.photos.nil? ? "http://www.kadences-deco.fr/wp-content/uploads/2015/07/appartement-design-730x430.jpg" : a.photos.split(',').first %>)">
          <h1><%= a.address.upcase %></h1>
          <p><%= a.status %></p>
        </div>
        <%= link_to 'Modifier', edit_user_search_announce_path(current_user, @search, a), class: "btn navigate navigate-grey" %>
        <%= link_to 'Supprimer', user_search_announce_path(current_user, @search, a), class: "btn navigate navigate-grey", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
<!-- background-image: linear-gradient(135deg, rgba(205,237,47,1) 0%,rgba(83,109,20,1) 50%,rgba(199,232,37,1) 100%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%) -->

    </div>
  </div>
</div>
