<!DOCTYPE html>
<html>
  <head>
    <title>Yes My Flat - Comparateur de site de vente d'appartement</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="icon" href="http://res.cloudinary.com/dg4tuv6gd/image/upload/v1476362311/favicon_l4zkpa.ico" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
